body {
    overflow-x: hidden;
    background-color: #fffbf5;
  }
  
  .weapons-container {
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  