.agentContainer {
  background-color: #fa4454;
  color: #fffbf5;
  width: 100vw;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.agent-img {
  width: 800px;
  max-width: 800px;
  background-color: #fffbf5;
  padding-bottom: 50px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.agent-img:hover {
  transform: scale(1.05);
}

.icon {
  width: 40px;
}

.agent-name {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 100px;
}

.agent-description,
.more-details {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 50px;
}

.more-details {
  margin-left: 30px;
  max-width: 500px;
}

.headers {
  color: #141414;
}

.agent-info {
  margin-left: 50px;
}
