.weaponContainer {
  background-color: #fa4454;
  color: #fffbf5;
  width: 100vw;
  height: 83%;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.weapon-img {
  width: 700px;
  background-color: #fffbf5;
  padding: 70px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.weapon-img:hover {
  transform: scale(1.05);
}

.weapon-name {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 100px;
}

.headers {
  color: #141414;
}

.weapon-info {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.weapon-details {
  margin-left: 250px;
}
