.map-container {
  background-color: #fa4454;
  color: #fffbf5;
  width: 100vw;
  height: 83%;
  min-height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
}

.map-img {
  width: 700px;
  background-color: #fffbf5;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  padding: 30px;
}

.map-img:hover {
  transform: scale(1.05);
}

.map-name {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 100px;
}

.headers {
  color: #141414;
}

.map-info {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 50px;
  max-width: 500px;
}
